[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
hbcvt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-migrate = "*"
flask-cors = "*"
requests-async = "*"

[requires]
python_version = "3.7"
