[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
hbcvt = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-cors = "*"
passlib = "*"

[requires]
python_version = "3.7"
